In [ ]:
import pandas as pd
from dataclasses import dataclass

@dataclass
class CoinPair:
    CoinA: str
    CoinB: str
    
max_std = 0.1
min_profit = 0.2

pairs = pd.read_csv('Output/best_pairs.csv', index_col=[0,1])



filt_idx = pairs[(pairs['std'] < max_std) & (pairs['profit'] > min_profit)].sort_values(by='profit', ascending=False)

pairs_dataClass = [CoinPair(r[0], r[1]) for r in filt_idx]


filt_idx

                       profit       std  total_trades
CoinA     CoinB
AIXBTUSDT GRTUSDT    0.274298  0.063056             8
          SEIUSDT    0.324933  0.056882             8
          SAGAUSDT   0.305360  0.047462            16
          THETAUSDT  0.314666  0.059350             6
          ZENUSDT    0.233826  0.069127             4
          ACEUSDT    0.218976  0.054552            18
          ORDIUSDT   0.201431  0.063657            16
CVCUSDT   STEEMUSDT  0.232920  0.020089            18